# Gradle
.gradle/
build/
**/build/

# Android Studio
.idea/
*.iml
.gradle/
local.properties
captures/
.externalNativeBuild/

# Logs y temporales
*.log
*.tmp
*.swp

# Sistema operativo
.DS_Store
Thumbs.db

# Cache
.cxx/
